<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="https://image.flaticon.com/icons/png/512/194/194935.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h2>
            Nick: Fonsii91
          </h2>
          <h3>
            Profesor
          </h3>
        </div>
      </div>
      <div class="col-md-2">
        <a routerLink="/login" routerLinkActive="active" class="profile-edit-btn">Cerrar sesión</a>
        <br><br>
        <a routerLink="/modificar-profesor" routerLinkActive="active" class="profile-edit-btn">Editar perfil</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p> TUS RANKINGS</p>
          <a href="">BONUS_DAW</a><br />
          <a href="">BONUS2020</a><br />
          <a href="">DENTAL</a><br />
          <a href="">SMX1</a><br />
          <a href="">PROGRAMACION</a><br />
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <label>Nombre</label>
                </div>
                <div class="col-md-6">
                  <p>Alfonso</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Apellidos</label>
                </div>
                <div class="col-md-6">
                  <p>Garcia Martin</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <p>agarcia@ilerna.com</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Centro</label>
                </div>
                <div class="col-md-6">
                  <p>Ilerna</p>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-6">
                  <label>Contraseña</label>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary">Cambiar contraseña</button>
                </div>
              </div> -->
            </form>
          </div>
        </div>
