<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a routerLink="/login" routerLinkActive="active"><h2 class="inactive underlineHover">INICIAR SESIÓN</h2></a>
    <h2 class="active"> REGISTRO PROFESOR/A</h2>

    <!-- Login Form -->
    <form>
      <input type="text" id="nombre" class="fadeIn second" name="nombre" placeholder="Apodo">
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email">
      <input type="password" id="pwd" class="fadeIn third" name="pwd" placeholder="Contraseña">
      <input type="text" id="nombre" class="fadeIn second" name="nombre" placeholder="Nombre">
      <input type="text" id="apellidos" class="fadeIn second" name="apellidos" placeholder="Apellidos">
      <input type="text" id="centro" class="fadeIn second" name="centro" placeholder="Centro">
      <input type="submit" class="fadeIn fourth" value="Registrar">
    </form>
  </div>
</div>
