<!-- Agregar mascota -->


<div class="wrapper fadeInDown">

    <div id="formContent">
        <!-- Tabs Titles -->
        <a routerLink="/login" routerLinkActive="active">
            <h2 class="inactive underlineHover">INICIAR SESIÓN</h2>
        </a>
        <h2 class="active"> REGISTRO ALUMNO/A</h2>

        <!-- Login Form -->
        <form (ngSubmit)="onSubmit()" #formAlumno="ngForm">
            <input type="text" [(ngModel)]="alumnoModel.nick" class="fadeIn second" name="nick" placeholder="Nick">
            <input type="email" [(ngModel)]="alumnoModel.email" class="fadeIn second" name="email" placeholder="Email">
            <input type="password" [(ngModel)]="alumnoModel.pwd" class="fadeIn third" name="pwd" placeholder="Contraseña">
            <input type="text" [(ngModel)]="alumnoModel.nombre" class="fadeIn second" name="nombre" placeholder="Nombre">
            <input type="text" [(ngModel)]="alumnoModel.apellidos" class="fadeIn second" name="apellidos" placeholder="Apellidos">

            <input type="submit" class="fadeIn fourth" value="Registrar">
        </form>
    </div>
</div>