<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a routerLink="/login" routerLinkActive="active"><h2 class="inactive underlineHover">INICIAR SESIÓN</h2></a>
    <h2 class="active"> REGISTRO ALUMNO/A</h2>

    <!-- Login Form -->
    <form>
      <input type="text" id="nick" class="fadeIn second" name="nick" placeholder="Nick">
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
      <input type="text" id="nombre" class="fadeIn second" name="nombre" placeholder="Nombre">
      <input type="text" id="apellidos" class="fadeIn second" name="apellidos" placeholder="Apellidos">

      <input type="submit" class="fadeIn fourth" value="Registrar">
    </form>
  </div>
</div>
