<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> INICIAR SESIÓN</h2>
    <a routerLink="/registro-inicial" routerLinkActive="active"><h2 class="inactive underlineHover">REGISTRO</h2></a>
    <br><br>
    <h3>Hola Profesor!</h3>


    <!-- Login Form -->
    <form #itemForm="ngForm" (ngSubmit)="onFormSubmit(itemForm)">
      <input type="text"  class="fadeIn second" id= "nick" name="nick" placeholder="Apodo" ngModel required>
      <input type="text"  class="fadeIn second" id="pwd" name="pwd" placeholder="Contraseña" ngModel required>
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>
  </div>
</div>
