<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> INICIAR SESIÓN</h2>
    <a routerLink="/registro-inicial" routerLinkActive="active"><h2 class="inactive underlineHover">REGISTRO</h2></a>



    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>
  </div>
</div>
