<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <a routerLink="/login" routerLinkActive="active">
            <h2 class="inactive underlineHover">INICIAR SESIÓN</h2>
        </a>
        <h2 class="active"> REGISTRO</h2>
        <br><br>
        <h3>¿Quien eres?</h3>


        <!-- Login Form -->
        <form>
            <br>
            <a style="margin-right: 20px; color: black;" class="nav-link btn btn-warning" routerLink="/registro-profesor" routerLinkActive="active">Soy <b>PROFESOR</b></a>
            <a style="color: black;" class="nav-link btn btn-warning" [routerLink]="['/registro-alumno']" routerLinkActive="active">Soy <b>ALUMNO</b></a>
            <br><br><br><br><br>
        </form>
    </div>
</div>