<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a routerLink="/login" routerLinkActive="active"><h2 class="inactive underlineHover">INICIAR SESIÓN</h2></a>
    <h2 class="active"> REGISTRO</h2>
<br><br>
    <h3>¿Quien eres?</h3>


    <!-- Login Form -->
    <form>
      <br><br>
     <a class="nav-link" routerLink="/registro-profesor" routerLinkActive="active">  <button style="margin-right: 20px;" type="button" class="btn btn-warning"><strong>Soy un PROFESOR</strong></button>
     </a>

      <a class="nav-link" routerLink="/registro-alumno" routerLinkActive="active"> <button type="button" class="btn btn-warning"><strong>Soy un ALUMNO</strong></button></a>
      <br><br><br><br><br>
    </form>
   </div>
</div>
