<a routerLink="/perfil-alumno" routerLinkActive="active" class="profile-edit-btn">Atras</a>
<div class="container emp-profile">
  <div class="col-md-8">
    <div class="tab-content profile-tab" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form>
          <div class="row">
            <div class="col-md-6">
              <label>Nombre:</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" id="nombre" placeholder="Nombre">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <label>Apellidos:</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <label>Email:</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <label>Contraseña:</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" id="pwd" placeholder="Contraseña">
            </div>
          </div>
          <br><br>
          <div style=margin-left:58%;>
          <input type="submit" class="fadeIn fourth" value="Modificar">
        </div>
        </form>
      </div>
    </div>
  </div>
