<div class="wrapper fadeInDown">

  <div id="formContent">
    <!-- Tabs Titles -->
    <a routerLink="/login" routerLinkActive="active">
      <h2 class="inactive underlineHover">INICIAR SESIÓN</h2>
    </a>
    <h2 class="active"> REGISTRO PROFESOR/A</h2>

    <!-- Login Form -->
    <form #itemForm="ngForm" (ngSubmit)="onFormSubmit(itemForm)">
      <input type="text"  class="fadeIn second" id= "nick" name="nick" placeholder="Apodo" ngModel required>
      <input type="text"  class="fadeIn second" id="pwd" name="pwd" placeholder="Contraseña" ngModel required>
      <input type="text"  class="fadeIn second" id= "email" name="email" placeholder="email" ngModel required>
      <input type="text"  class="fadeIn second" id= "nombre" name="nombre" placeholder="nombre" ngModel required>
      <input type="text"  class="fadeIn second" id= "apellidos" name="apellidos" placeholder="apellidos" ngModel required>
      <input type="text"  class="fadeIn second" id= "centro" name="centro" placeholder="centro" ngModel required>
      <input type="submit" class="fadeIn fourth" value="Agregar">
      <br><br>
    </form>
  </div>
</div>
