<div class="wrapper fadeInDown">

  <div id="formContent">
    <!-- Tabs Titles -->
    <a routerLink="/login" routerLinkActive="active">
      <h2 class="inactive underlineHover">INICIAR SESIÓN</h2>
    </a>
    <h2 class="active"> REGISTRO PROFESOR/A</h2>

    <!-- Login Form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div>
        <input type="text" formControlName="nick" placeholder="Apodo" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.nick.errors }">
          <div *ngIf="submitted && f.nick.errors" class="invalid-feedback">
          <div *ngIf="f.nick.errors.required">El apodo es obligatorio</div>
        </div>
      </div>

      <div>
          <input type="password" formControlName="pwd" class="form-control" id="pwd" name="pwd" placeholder="Contraseña" [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }">
          <div *ngIf="submitted && f.pwd.errors" class="invalid-feedback">
            <div *ngIf="f.pwd.errors.required">La contraseña es obligatorio. </div>
            <div *ngIf="f.pwd.errors.minlength">Mínimo 8 carácteres</div>
        </div>
      </div>

      <div >

        <input type="password" formControlName="confirmpwd" class="form-control" placeholder=" Confirmar Contraseña" [ngClass]="{ 'is-invalid': submitted && f.confirmpwd.errors }" />
        <div *ngIf="submitted && f.confirmpwd.errors" class="invalid-feedback">
            <div *ngIf="f.confirmpwd.errors.required">Confirmar contraseña es obligatorio</div>
            <div *ngIf="f.confirmpwd.errors.mustMatch">No coincide</div>
        </div>
    </div>



          <div>
            <input type="text" formControlName="email" placeholder="email" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">El email es obligatorio</div>
              <div *ngIf="f.email.errors.email">Introduce un email</div>
          </div>
        </div>



        <div>
          <input type="text" formControlName="nombre" placeholder="nombre" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">El nombre es obligatorio</div>
          </div>
        </div>

        <div>
          <input type="text" formControlName="apellidos" placeholder="apellido" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }">
            <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
            <div *ngIf="f.apellidos.errors.required">El apellido es obligatorio</div>
          </div>
        </div>

        <div>
          <input type="text" formControlName="centro" placeholder="centro" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.centro.errors }">
            <div *ngIf="submitted && f.centro.errors" class="invalid-feedback">
            <div *ngIf="f.centro.errors.required">El centro es obligatorio</div>
          </div>
        </div>





      <input type="submit" class="fadeIn fourth" value="Agregar">
      <br><br>
    </form>
  </div>
</div>
