<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> INICIAR SESIÓN</h2>
    <a routerLink="/registro-inicial" routerLinkActive="active"><h2 class="inactive underlineHover">REGISTRO</h2></a>
    <br><br>
    <h3>Bienvenido de nuevo!</h3>


    <!-- Login Form -->
    <form>
      <br>
      <a style="margin-right: 20px; color: black;" class="nav-link btn btn-warning" [routerLink]="['/login-profesor']" routerLinkActive="active">soy <b>PROFESOR</b></a>
      <a style="color: black;" class="nav-link btn btn-warning" [routerLink]="['/login-alumno']" routerLinkActive="active">soy <b>ALUMNO</b></a>
      <br><br><br><br><br>
    </form>
  </div>
</div>
